DATABASE_URL="postgresql://postgres:postgres@localhost:5432/inventory_api?schema=public"
PORT=3000
NODE_ENV=development
BETTER_AUTH_SECRET="replace-with-a-secret-of-at-least-32-characters"
BETTER_AUTH_URL="http://localhost:3000"
